@using ClassLibrary.Entity;
@model ICollection<Product>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>
    @foreach(Product product in Model)
    {
        @product.Name
        <br/>
    }
</body>
</html>
